{% extends 'auth_pages.html' %}
{% load static %}

{% block titleblock %}
    <title>Reset Password</title>
{% endblock %}

{% block contentblock %}
    <div class="card" style="height: auto!important;">

            <div class="card-header">
                <h3>Reset Password</h3>
                {#				<div class="d-flex justify-content-end social_icon">#}
                {#					<span><i class="fab fa-facebook-square"></i></span>#}
                {#					<span><i class="fab fa-google-plus-square"></i></span>#}
                {#					<span><i class="fab fa-twitter-square"></i></span>#}
                {#				</div>#}
            </div>
            <div class="card-body">
                <form action="{% url 'reset_password_proceed' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group form-group">
                        {% for error in errors %}
                            <h6 style="color: #ff5c7a">{{ error }}</h6>
                        {% endfor %}
                    </div>
                     <div class="input-group form-group">
                         <label style="color: white">Fill one of these fields</label>
                     </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="username" name="username">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="someone@domain.com" name="email">
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Reset password" class="btn float-right login_btn" style="width: 100%;">
                    </div>
                </form>
            </div>
    </div>
{% endblock %}