{% extends "base.html" %}
{% load static %}


{% block maincontent %}
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Send SMS</h2>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">SMS</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ecommerce-widget">
                    {% if error %}
                        <div class="isa_error">
                            <i class="fa fa-times-circle"></i>
                            {{ error }}
                        </div>
                    {% elif success %}
                        <div class="isa_success">
                            <i class="fa fa-check"></i>
                            {{ success }}
                        </div>
                    {% endif %}
                    <form action="{% url 'send_message' %}" method="POST" style="width: 50%" id="smsForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Choose from number</label>
                            <input class="form-control" type="text" id="phoneNumberFilter" placeholder="+123456789"
                                   style="width: 50%">
                            <select class="form-control" style="width: 50%" size="5" id="phone_numbers">
                                {% for phone_number in phone_numbers %}
                                    <option value="{{ phone_number }}">{{ phone_number }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="from">From</label>
                            <input class="form-control" name="from" id="from"
                                   placeholder="Alphanumeric name or phone number" style="width: 50%!important;">
                        </div>
                        <div class="form-group">
                            <label>Choose receiver number</label>
                            <input class="form-control" type="text" id="contactsFilter"
                                   placeholder="Beka Naveriani or +123456789"
                                   style="width: 50%">
                            <select class="form-control" style="width: 50%" size="5" id="contact_numbers">
                                {% for contact in contacts %}
                                    <option value="{{ contact.contact_number }}"
                                            data-country-code="{{ contact.contact_country_code }}">
                                        {{ contact.contact_name }} - {{ contact.contact_number }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="receiver">To</label>
                            <div class="form-inline">
                                <select class="form-control" name="country-code" id="country-code">
                                    {% for country in countries %}
                                        <option value="{{ country.code }}"
                                                data-alphanumeric="{{ country.is_alpha }}">{{ country.country }}
                                            ({{ country.code }})
                                        </option>
                                    {% endfor %}
                                </select>
                                <input class="form-control" name="to" id="receiver" placeholder="123 456 789"
                                       style="width: 50%">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-inline">
                                <input type="button" class="btn btn-success" value="Add contacts"
                                       style="display: none;"
                                       id="addContacts">
                                <input type="text" class="form-control" style="display: none;"
                                       id="contactName" placeholder="Beka Naveriani">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="body">SMS Body</label>
                            <textarea class="form-control" name="body" id="body" placeholder="Hello world"
                                      rows="5"></textarea>
                            {#                            <p ><span id="charLimit">160</span> / <span id="charMax">160</span></p>#}
                        </div>

                        <div class="form-group">
                            <label for="messageType">Do you want to send MMS ?</label>
                            <select id="messageType" class="form-control">
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="mms_attachment">MMS Attachment</label>
                            <input type="file" class="form-control" name="mms_attachment" id="mms_attachment" disabled>
                        </div>
                        <input type="hidden" name="send_type" value="sms">
                        <button class="form-control btn btn-success">Send SMS</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scriptblock %}
    <script>

        let number_regex = /^(\+|[0-9])+[0-9]*$/;

        $("#messageType").on("change", function () {
           let value  = $(this).val();
           if (value === "0") {
               $("#mms_attachment").prop('disabled', true);
               $("input[name='send_type']").val("sms");
           }
           else{
               $("#mms_attachment").prop('disabled', false);
               $("input[name='send_type']").val("mms");
           }

        });

        document.querySelector("#smsForm").addEventListener("submit", function (e) {
            let country_code = document.getElementById("country-code");
            let is_alpha = country_code.options[country_code.selectedIndex].getAttribute('data-alphanumeric');
            let alphanumeric_sender = document.getElementById("from").value;

            if (!(is_alpha === "True") && !(number_regex.test(alphanumeric_sender))) {
                alert("Alphanumeric sender isn't supported in receiver country");
                e.preventDefault();
            }

        });

        $("#addContacts").on('click', function () {
            let phone_number = $('#receiver').val();
            let contact_name = $('#contactName').val();
            let phone_country = $("#country-code").val();

            if (contact_name.length < 5) {
                alert("Contact name length must be more then 5 symbols");
                return false;
            }
            let data = {
                contactNumber: phone_number,
                contactName: contact_name,
                phoneCountry: phone_country
            };

            $.ajax({
                type: "POST",
                url: "{% url 'add_contact' %}",
                data: data,
                success: function (data) {
                    if (data.status === 'success') {
                        $('#contact_numbers').append(new Option(`${contact_name} - ${phone_number}`));
                    } else {
                        alert(data.message);
                    }
                },
            });
        });

        $('#receiver').on('input', function () {
            if ($(this).val().length > 0) {
                $('#addContacts').show();
                $('#contactName').show();
            } else {
                $('#addContacts').hide();
                $('#contactName').hide();
            }
        });

        $('#phone_numbers').on('change', function () {
            $('#from').val($(this).val());
        });

        $('#contact_numbers').on('change', function () {
            let countryCode = $("#contact_numbers option:selected").attr("data-country-code");
            $('#receiver').val($(this).val());
            $("#country-code").val(countryCode);
        });

        $('#phoneNumberFilter').on('input', function () {
            let filterVal = $(this).val();
            $('#phone_numbers  > option').each(function () {
                if (!($(this).val().includes(filterVal))) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            })
        });

        $('#contactsFilter').on('input', function () {
            let filterVal = $(this).val();
            $('#contact_numbers  > option').each(function () {
                if (!($(this).text().includes(filterVal))) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            })
        })

    </script>
{% endblock %}